* {
    margin: 0px;
    padding: 0px;
}

#simple-calc-heading {
    text-align: center;
}
#equity-calc-heading {
    text-align: center;
}

div.simple-calculator .button {
    width: 70px;
    height: 70px;
    font-size: 18px;
    margin: 1px;
    cursor: pointer;
    background: mediumseagreen;
    border: none;
    color: white;
    transition: all 0.3s ease;
}
div.simple-calculator .button[value="0"] {
    width: 142px;
}
div.simple-calculator .button[value="="] {
    height: 142px;
}
div.simple-calculator .textview {
    width: 280px;
    margin: 0 auto;
    display: block;
    font-size: 25px;
    padding: 4px;
    color: mediumseagreen;
}
table {
    position: relative;
    top: 22.5%;
    left: 50%;
    transform: translateX(-50%);
    align-content: center;
}

.simple-calc-column {
    background: darkslategrey;
}
.equity-calc-column {
    background: darkslategrey;
}
div.simple-calculator .button:hover {
    background-color: #4cbf50;
}
div.simple-calculator .button:active {
    background-color: black;
}

#equity {
    text-decoration: none;
    align-self: center;
    font-weight: bold;
    display: block;
    font-size: 24px;
    color: #4cbf50;
    padding: 15px;
    transition: all 0.3s ease;
    top: 0%;
}
#equity input {
    width: 360px;
    font-size: 25px;
    text-align: left;
    float: right;
}
#equity label {
    text-align: right;
    float: left;
}
#solve {
    background-color: #4cbf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
#solve:hover {
    background-color: limegreen;
}
