#login-heading {
    color: #4cbf50;
    text-align: center;
}

form#login {
    text-align: center;
    border-radius: 5px;
    background-color: darkslategrey;
    padding: 0.5%;
    width: 30%;
    margin: auto;
    border: 5%;
}

.inputBoxes > input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: underline;
}

.inputBoxes > a {
    color: grey;
}
.inputBoxes > a:visited {
    color: grey;
}

label {
    color: #4cbf50;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: limegreen;
}

button:active {
    background-color: green;
}
