table {
    border-collapse: collapse;
    height: 50px;
    text-align: left;
    padding: 15px;
    border-color: blueviolet;
}
th {
    vertical-align: center;
    height: 25px;
    padding: 15px;
}
td {
    vertical-align: bottom;
    height: 30px;
    padding: 15px;
}
tr:hover {
    background-color: yellowgreen;
}

tr :nth-child() {
    background-color: #f2f2f2;
}
.image {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    height: 730px;
}
