.table {  
    color: rgb(76, 191, 80);
    font-family: Helvetica, Arial, sans-serif;
    width: 70%; 
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(76, 191, 80);
    border-radius: 8px;
}

td, th {  
    border: 1px solid rgb(76, 191, 80); 
    transition: all 0.3s;  
    border-radius: 8px;
    height: 40px;
    color: black;
}

th {  
    background:yellowgreen;  /* Darken header a bit */
    font-weight: bold;
    text-align: center;
}

td {  
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */        
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; }  
/* Hover cell effect! */