@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

.topbar{
    background-color: gray;
    overflow: hidden;
    /* color: lightgreen; */
}
.topbar a{
    text-decoration: none;
    font-weight: bold;
    /* display: block; */
    font-size: 18px;
    color:white;
    padding: 15px;
}
.topbar a:hover{
    background-color:limegreen;
}
.topbarRight a:active{
    background-color: green;
}
.topbarLeft a{
    float: left;
    /* margin-right: 100px; */
}
.topbarRight a{
    float: right;
}


.titleBar *{
    background-color:white;
    color: #4CBF50;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    overflow: hidden;
    font-weight: bold;
    
    text-align: center;
    image-resolution: 32px;
    display: block;
    padding: 15px;
    font-size: 30px;
    
    animation: titleAni 5s linear 2s infinite alternate;
}

img{
    float: right;
    width: 2.05%;
}

@keyframes titleAni {
    0%   {background-color:#D8D3D3; left:0px; top:0px;}
    25%  {background-color:white; left:200px; top:0px;}
    50%  {background-color:#D8D3D3; left:200px; top:200px;}
    75%  {background-color:white; left:0px; top:200px;}
    100% {background-color:#D8D3D3; left:0px; top:0px;}
  }

.search-container {
      float: right;
      background-color: gray;;
      font-size: 28px;
  }

#searchBox {
    height: 30px;
    margin-top: 7px;
    margin-left: 20px;
    border-radius: 15px;
    font-size: 28px;
    text-indent: 0.5em;
}

#searchButton {
    float: right;
    margin-left: 10px;
    margin-top: 7px;
    margin-right: 10px;
}
